APP_ENV=development
APP_DEBUG=true
APP_NAME=I56 Framework
APP_VERSION=1.0.0

SERVER_HOST=0.0.0.0
SERVER_PORT=8080

DATABASE_DRIVER=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=i56
DATABASE_USER=i56
DATABASE_PASSWORD=i56
DATABASE_SSL_MODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

AUTH_ISSUER=i56-framework
AUTH_ACCESS_TOKEN_TTL=15m
AUTH_REFRESH_TOKEN_TTL=720h

STORAGE_DRIVER=local
STORAGE_BASE_PATH=./storage

LOG_LEVEL=info
LOG_FORMAT=json
